:root {
    --bitcoin-orange: #F7931A;
    --Soft-Orange: #FFE9D4;
    --Secondary-Blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --Grey: #BABABA;
    --off-White: #E6E6E6;
    --Just-White: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg,#201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 60px;
    text-align: center;
    align-self: center;

}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--Just-White);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--Soft-Orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 120px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-White);  
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); 
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(/lconos/vector-bajo.png);

}

main {
    width: 100%;
    height: auto;
    background-color:#fff2e6;

}

.main-exchange-container{
width: 100%;
height: auto;
padding-top:80px;
padding-bottom:30px;
text-align: center;
}

.main-exchange-container--title{
min-width: 288px;
max-width: 900px;
margin: 0 auto;
}

.main-exchange-container .backgroudimg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(img/Bitcoin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
margin-bottom: 30px;
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: black;
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
   
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title{
    margin-bottom:15px ;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin:0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--Grey);
    background-color: var(--Just-White);
}

.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{
border-radius: 0 15px 0 0;
}


.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
 .currency-table--container .table__right{
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.7rem;
        color: #757575;
 }

 .currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image:url(/lconos/desenso.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image:url(lconos/aumento.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }


.main-currency-table .currency-table--title2{
    margin-bottom:15px ;
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:  #1A9AF7;
    
}

.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--Soft-Orange);
}

.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.currency-table--date2{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: #E7F5FF;
    border-radius: 5px;
    }
    .currency-table--date2 p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.main-product-detail{
    position: relative;
    width: 100px;
    min-width: 320px;
   height: auto;
   padding: 20px 10px;
    background-color: var(--warm-black);
    
}

.product-detail--batata{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(lconos/papa.png);
}

.product-detail--title{
    width: 90px;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--Just-White);

}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight:500;
    line-height: 1.8rem;
    color: #808080;
    

}